.project-index {
  cursor: pointer;
  text-decoration: underline;
}

.project-index:hover {
  color: rgba(255,255,255,0.95);
}

.active-project {
  padding-top: 0.2em;
  padding-left: 0.5em;
  color: rgba(255,255,255,0.95);
}

.active-project a {
  color: rgba(255,255,255,0.95);
}

.active-project .technology {
  font-style: italic;
}

.active-project-link {
  color: rgba(255,255,255,0.95);
}
